body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: #252830;
	color: #f44336;
	font-family: 'ABeeZee', sans-serif;
}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.nav{
	/*border: 1px solid blue;*/
	height: 10%;
	margin-bottom: 5vh;
}
ul{
	/*border: 1px solid orange;*/
	height: 100%;
	width: 100%;
	display: flex;
	padding: 0 1em;
	align-items: center;
	list-style-type: none;
	letter-spacing: 0.4rem;
}
.nav ul li i{
	padding-right: 0.5rem;
}
.nav ul li:nth-child(1){
	font-size: 3em;
}
.main{
	/*border: 1px solid red;*/
	display: flex;
	width: 80%;
	margin: auto;
}
.main *{
	height: 29em;
}
.pattern{
	width: 29em;
	background: #282c35;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.pattern *{
	display: block;
}
.tip{
	/*border: 1px solid white;*/
	height: auto;
	position: absolute;
	top: 2em;
}
.flavors{
	/*border: 1px solid orange;*/
	width: calc(100% - 29em);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.password{
	/*border: 1px solid blue;*/
	height: 30%;
	width: 80%;
	margin: auto;
}