body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: #252830;
	color: #f44336;
	font-family: 'ABeeZee', sans-serif;
}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.nav{
	height: 10%;
}
ul{
	height: 100%;
	width: 100%;
	display: flex;
	padding: 0 1em;
	align-items: center;
	list-style-type: none;
	letter-spacing: 0.4rem;
}
.nav ul li i{
	padding-right: 0.5rem;
}
.nav ul li:nth-child(1){
	font-size: 3em;
}
.main{
	display: flex;
	width: 90%;
	height: 90%;
	margin: auto;
}
.col-left{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pattern{
	width: 29em;
	height: 29em;
	background: #282c35;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.pattern *{
	display: block;
}
.tip{
	height: auto;
	position: absolute;
	top: 2em;
}
.flavors{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}
.flavors *{
	height: auto;
}
.flavors ul{
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 5em 0 1em 0;
}
.flavors ul li{
	height: auto;
	width: 16.8em;
	text-align: center;
	margin: 1em 2.75em; 
	padding: 1em;
	cursor: pointer;
	transition: all, 0.5s;
}
.flavors .or{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em 0;
}
.flavors .or .rule{
	width: 10%;
	margin: 0 1em;
	border-top: 1px solid white;
}
.password{
	/*border: 1px solid orange;*/
	height: 40%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.password .text{
	font-size: 3em;
	color: #26C6DA;
}

input{
  font-size: 1.5em;
  margin-top: 1em;
  width: 11.5em;
  transition: all, 0.3s;
  text-align: center;
  padding: 0.5em;
  color: #f44336;
  background: none;
  border: none;
  border: 1px solid #1a9;
  outline: none;
}
.label-text{
  font-size: 1.5em;
  display: block;
  transform: translateY(-1.7em);
  outline: none;
  transition: all, 0.3s;
  color: #3b9;
  cursor: text;
  text-align: center;
}
input:focus{
  width: 12em;
}
input:focus + .label-text{
  transform: translateY(-4.2em);
  font-size: 1.2em;
  margin-bottom: 0.25em;
}
input:valid{
	width: 12em;
}
input:valid + .label-text{
  transform: translateY(-4.2em);
  font-size: 1.2em;
  margin-bottom: 0.25em;
}	

@media (max-width: 768px){
	.nav ul {
		padding-top: 4vh;
		justify-content: center;
	}
	.nav ul li:nth-child(1){
		font-size: 3em;
		width: 1.2em;
	}
	.nav ul li:nth-child(1) span,
	.nav ul li:nth-child(2){
		display: none;
	}
	.main{
		display: block;
	}
}